#admin-dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  width: 90%;

  align-self: center;
}

#admin-dashboard-content #page-header {
  max-width: 1200px;
  width: 90%;
  align-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;

  align-self: center;
  padding: 20px 0;
}

#admin-dashboard-content #page-header #user-container {
  display: none;
  margin: 0;
  align-self: center;
}

#admin-dashboard-content #page-header > * {
  width: unset;
}

#admin-dashboard-content #page-header button {
  flex: unset;
  padding: 10px 0;
  width: 80px;
}

#admin-dashboard-content h1 {
  margin-bottom: 30px;
}

#admin-dashboard-content .semester-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-bottom: 30px;
  width: unset;
}

#admin-dashboard-content .semester-container h2 {
  text-align: left;
  color: var(--text-gray);

  margin-bottom: 30px;
  margin-left: 20px;
}

#admin-dashboard-content .semester-container .subjects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  max-width: 100%;
}

#admin-dashboard-content
  .semester-container
  .subjects-container
  .subject-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f5ff;

  text-align: center;
  border-radius: 8px;
}

#admin-dashboard-content
  .semester-container
  .subjects-container
  .subject-container
  span:first-of-type {
  font-weight: 300;
  color: #444;
}

#admin-dashboard-content
  .semester-container
  .subjects-container
  .subject-container
  :nth-child(2) {
  font-weight: 800;
}

#admin-dashboard-content #page-header #share-button {
  background: none;
  padding: 5px;
  width: unset;
}

@media (min-width: 650px) {
  #admin-dashboard-content #page-header {
    padding: 20px 5vw;
  }

  #admin-dashboard-content .semester-container .subjects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  #admin-dashboard-content .semester-container .subjects-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #admin-dashboard-content #page-header button {
    width: 200px;
  }
}
