#flowchart-container {
    display: flex;
}

.semester-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.subject-container {
    padding: 10px;
    margin: 10px 20px;
    background-color: #777;
    z-index: 2;
    width: 100px;
}