#page-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.flowchart-selection-page-container h1 {
  margin-top: 20px;
  text-align: center;
}

.flowchart-selection-page-container #flowcharts-container {
  margin-top: 50px;
  align-self: center;
  max-width: 1100px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.flowchart-selection-page-container #flowcharts-container button {
  background: none;
  color: #7d83ff;
  background: #7d83ff15;
  font-size: var(--regular-text);
  font-weight: bold;
}

.flowchart-selection-page-container #flowcharts-container button:hover {
  animation-name: blinking;
  animation-duration: 0.5s;
}

@media (min-width: 800px) {
  .flowchart-selection-page-container #flowcharts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
